<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Companies House Reporting{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<!-- PROJECTS START -->
<div  id="vbid-41a6c633-rsuknvea"  class="master item-box  gallery-box style-41a6c633-k2kudjdw          " data-holder-type="gallery"" data-holder-type="gallery"  data-child-type="NATIVE_ORDER"  data-styleid="style-41a6c633-k2kudjdw" data-preview-styleid='style-41a6c633-k2kudjdw' data-preset-type-id="PROJECTS">
	<div id="no-image" class="stripe-background load-high-res " ></div>
	<div class="gallery-wrapper item-wrapper projects-wrapper ">

	<div  class="sub container style-41a6c633-k2kudjdw content matrix   " data-itemtype="folder" data-creator="" data-itemname="LOADING"  data-itemslug="loading" data-itemstyleid="style-41a6c633-k2kudjdw" data-margintop="" data-arranger="matrix" data-layout="multi" data-vbid="vbid-41a6c633-rsuknvea" data-preset-type-id="PROJECTS" data-preview-style="style-41a6c633-k2kudjdw" data-style="style-8ec4c-t1avbp6mmi" data-absolute-path="/"  >
		<!-- ARRANGER SETTINGS -->
		<div class="arranger-settings" style="display:none;"
		data-ARRANGER_TYPE="matrix"
		data-ARRANGER_COLS="5"
		data-ARRANGER_ITEM_MAX_WIDTH="1000"
		data-ARRANGER_ITEM_MIN_WIDTH="122.5"
		data-ARRANGER_ITEM_RATIO="1.0"
		data-ARRANGER_ITEM_SPACING="15"
		data-ARRANGER_ITEMS_PER_PAGE="all"
		data-ARRANGER_ORDER_TYPE="regular"
		data-AUTO_PLAY="false"
		data-AUTO_PLAY_DURATION="4"
		data-FLEX_ELEMENT_EFFECT=""
	></div>
		<div class="layout-settings" style="display:none;" data-type="multi"></div>
		<div id="children">


		<!-- STRIPE HEADER -->
		<div class="stripe-header-wrapper">
			<div  id="vbid-41a6c633-wn9drtee"  class="stripe-header sub item-box page-box style-41a6c633-k2kudjdw       " data-holder-type="page"" data-holder-type="page"  data-child-type="STYLE"  data-styleid="style-41a6c633-k2kudjdw" data-preview-styleid='style-41a6c633-k2kudjdw' data-preset-type-id="UNRESOLVED">
				<div class="page-wrapper item-wrapper ">
					<div class="item-content leaf blocks_layout page content" data-self="vbid-41a6c633-wn9drtee" data-preview-style="style-41a6c633-k2kudjdw" data-style="style-8ec4c-ed91kjv1sl" data-orig-thumb-height="" data-orig-thumb-width="" data-vbid="vbid-41a6c633-wn9drtee" data-bgimg="">
			<div class="helper-div middle" >
			<!-- <div class="benet" style="min-height:inherit;"></div> -->
				<div class="text-side ">
					<div class="vertical-aligner">
						<div class="item-details blocks-preview-content-wrapper  blocks shrinker-parent" style="position:relative;">
							<div class="blocks-preview-content-holder shrinker-content">
									<!--  BY SPECIFIC ORDER -->



												<br class="upper-line-break" />
<div class="blocks-preview-title-holder removable-parent order-handle">

	<h2 id="vbid-41a6c633-vrq39a0t" class="preview-element blocks-preview-title magic-circle-holder inner-page text-element quick-text-style-menu   allow-mobile-hide" data-menu-name="BLOCKS_PREVIEW_TITLE" >{{title}}</h2>

</div>
<br class="lower-line-break" />

	<div id="vbid-41a6c633-aff9jpp8" class="preview-element preview-body magic-circle-holder text-element quick-text-style-menu   allow-mobile-hide" data-menu-name="PREVIEW_BODY">
		<p>We can provide any business with a feed of newly incorporated UK companies as soon as they register with Companies House. Details can include:-</p><ul><li>Company Number</li><li>Company Name</li><li>Registered Address</li><li>SIC Code</li></ul></p>
		<p><div id="helptext" class="text-element"></div></p>
	</div>

								<img background="static/incorporation.jpg">

								<script>

function replace_helptext(ctr) {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
     document.getElementById("helptext").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "qry_companyno?s="+ctr, true);
  xhttp.send();
}

  var s=1;
  var x=setInterval(function() {
    replace_helptext(s+=1);
}, 1000);
   </script>







							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
				</div>
		</div>
		</div>
	</div>
</div></div>
</div>
<!-- PROJECTS END -->

{% endblock %}
</html>