<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Development projects{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
	<!-- PROJECTS START -->
		<div  id="vbid-41a6c633-rsuknvea"  class="master item-box  gallery-box style-41a6c633-k2kudjdw          " data-holder-type="gallery"" data-holder-type="gallery"  data-child-type="NATIVE_ORDER"  data-styleid="style-41a6c633-k2kudjdw" data-preview-styleid='style-41a6c633-k2kudjdw' data-preset-type-id="PROJECTS">
			<div id="no-image" class="stripe-background load-high-res " ></div>
			<div class="gallery-wrapper item-wrapper projects-wrapper ">
					
					<div  class="sub container style-41a6c633-k2kudjdw content matrix   " data-itemtype="folder" data-creator="" data-itemname="LOADING"  data-itemslug="loading" data-itemstyleid="style-41a6c633-k2kudjdw" data-margintop="" data-arranger="matrix" data-layout="multi" data-vbid="vbid-41a6c633-rsuknvea" data-preset-type-id="PROJECTS" data-preview-style="style-41a6c633-k2kudjdw" data-style="style-8ec4c-t1avbp6mmi" data-absolute-path="/"  >
	<!-- ARRANGER SETTINGS -->
	<div class="arranger-settings" style="display:none;"
		data-ARRANGER_TYPE="matrix"
		data-ARRANGER_COLS="5"
		data-ARRANGER_ITEM_MAX_WIDTH="1000"
		data-ARRANGER_ITEM_MIN_WIDTH="122.5"
		data-ARRANGER_ITEM_RATIO="1.0"
		data-ARRANGER_ITEM_SPACING="15"
		data-ARRANGER_ITEMS_PER_PAGE="all"
		data-ARRANGER_ORDER_TYPE="regular"
		data-AUTO_PLAY="false"
		data-AUTO_PLAY_DURATION="4"
		data-FLEX_ELEMENT_EFFECT=""
	></div>
	<div class="layout-settings" style="display:none;" data-type="multi"></div>
	<div id="children">
	
		
		<!-- STRIPE HEADER -->
		<div class="stripe-header-wrapper">
			<div  id="vbid-41a6c633-wn9drtee"  class="stripe-header sub item-box page-box style-41a6c633-k2kudjdw       " data-holder-type="page"" data-holder-type="page"  data-child-type="STYLE"  data-styleid="style-41a6c633-k2kudjdw" data-preview-styleid='style-41a6c633-k2kudjdw' data-preset-type-id="UNRESOLVED">
				<div class="page-wrapper item-wrapper ">
					<div class="item-content leaf blocks_layout page content" data-self="vbid-41a6c633-wn9drtee" data-preview-style="style-41a6c633-k2kudjdw" data-style="style-8ec4c-ed91kjv1sl" data-orig-thumb-height="" data-orig-thumb-width="" data-vbid="vbid-41a6c633-wn9drtee" data-bgimg="">
			<div class="helper-div middle" >
			<!-- <div class="benet" style="min-height:inherit;"></div> -->
				<div class="text-side ">
					<div class="vertical-aligner">
						<div class="item-details blocks-preview-content-wrapper  blocks shrinker-parent" style="position:relative;">
							<div class="blocks-preview-content-holder shrinker-content">
									<!--  BY SPECIFIC ORDER -->
									
										
											
												<br class="upper-line-break" />
<div class="blocks-preview-title-holder removable-parent order-handle">
	
	<h2 id="vbid-41a6c633-vrq39a0t" class="preview-element blocks-preview-title magic-circle-holder inner-page text-element quick-text-style-menu   allow-mobile-hide" data-menu-name="BLOCKS_PREVIEW_TITLE" >Fintech projects</h2>
	
</div>
<br class="lower-line-break" />



											
										
									
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
<!-- LAYOUT SETTINGS -->
<div class="layout-settings" style="display:none;" data-type="blocks"></div>
				</div>
			</div>
		</div>
		
		<div id="items-holder-wrapper">
			<div id="items-holder">

		<div  id="vbid-41a6c633-hafjfxbs"  class="sub item-box  page-box style-41a6c633-k2kudjdw          " data-holder-type="page"" data-holder-type="page"  data-child-type="STYLE"  data-styleid="style-41a6c633-k2kudjdw" data-preview-styleid='style-41a6c633-k2kudjdw' data-preset-type-id="UNRESOLVED">
			
			<div class="page-wrapper item-wrapper ">
					
					<div class="item-content leaf multi_layout page content -container" data-self="vbid-41a6c633-hafjfxbs" data-preview-style="style-41a6c633-k2kudjdw" data-style="style-8ec4c-ed91kjv1sl" data-orig-thumb-height="316" data-orig-thumb-width="460" data-vbid="vbid-41a6c633-hafjfxbs" data-bgimg="https://lh3.googleusercontent.com/B4L45grckrtWIWFRJQyrAtw7W269m7eAYlkFmMSe7v7ybfc-trr34X6TjElIZs0qOWhGNJuVeiQbXQQ6jMc">
<div  class="multi-container preview image-cover" >
	<div class="Picture item-preview">
		<div class="preview-image-holder">
			<div id="no-image" class="background-image-div preview-element image-source magic-circle-holder unfold-left load-high-res" data-menu-name="BACKGROUND_IMAGE" style="">
			</div>
			<div class="helper-div bottom-center" >
			<!-- <div class="benet" style="min-height:inherit;"></div> -->
			<div class="pic-side">
				<div class="vertical-aligner">
					<div id="vbid-41a6c633-a2qaonqs-holder"  class="preview-image-holder inner-pic-holder" data-menu-name="PREVIEW_INLINE_IMAGE_HOLDER">

	<div  id="vbid-41a6c633-a2qaonqs" class="inner-pic preview-element  magic-circle-holder  load-high-res " data-menu-name="PREVIEW_INLINE_IMAGE" style="background-image:url(https://lh3.googleusercontent.com/B4L45grckrtWIWFRJQyrAtw7W269m7eAYlkFmMSe7v7ybfc-trr34X6TjElIZs0qOWhGNJuVeiQbXQQ6jMc=s300);"  data-orig-width="460" data-orig-height="316" >
		<!-- VIDEO TEMPLATE -->
		

<div class="element-placeholder" data-elementtype='VIDEO' style="display:none;"></div>


		<!-- MAP TEMPLATE -->
		
<div class="element-placeholder" data-elementtype='MAP' style="display:none;"></div>

		<!-- RAW TEMPLATE -->
		
<div class="element-placeholder" data-elementtype='RAW' style="display:none;"></div>

	</div>
	
</div>
	

				</div>
			</div>	
				<div class="text-side shrinker-parent">
					<div class="vertical-aligner">
						<div class="item-details preview-content-wrapper  multi" style="position:relative;">
							<div class="draggable-div-holder"></div>
							<div class="preview-content-holder shrinker-content">
								
									
										<!--  BY NATIVE ORDER -->
										
											
<div class="element-placeholder" data-elementtype='ICON' style="display:none;"></div>

										
											
<br class="upper-line-break" />
<div class="preview-title-holder removable-parent order-handle">
	
	<h2 id="vbid-41a6c633-d3oms5jh" class="preview-element preview-title magic-circle-holder inner-page text-element quick-text-style-menu   allow-mobile-hide" data-menu-name="PREVIEW_TITLE" >ATM Locator</h2>
	
</div>
<br class="lower-line-break" />

										
											

<div class="element-placeholder" data-elementtype='SUBTITLE' style="display:none;"></div>


										
											
<div class="element-placeholder" data-elementtype='DIVIDER' style="display:none;"></div>

										
											
<br class="upper-line-break" />
<div class="preview-body-holder removable-parent order-handle">
	
	<div id="vbid-41a6c633-aff9jpp8" class="preview-element preview-body magic-circle-holder text-element quick-text-style-menu   allow-mobile-hide" data-menu-name="PREVIEW_BODY">
		<p>Locate your nearest ATM, find out when it opens and what services it offers</p>
	</div>
	
</div>
<br class="lower-line-break" />

										
											
<div class="element-placeholder" data-elementtype='PRICE' style="display:none;"></div>

										
											<div class="preview-form order-handle">

<div class="element-placeholder" data-elementtype='FIELD' style="display:none;"></div>
</div>
										
											<div class="preview-item-links order-handle ">
	<div class="preview-links-wrapper">

	
		<a class="removable-parent" href="atmlocator" data-link-type="EXTERNAL"   target="_blank" >
	
		<span id="vbid-41a6c633-jqxizjea"  class="preview-element Link item-link magic-circle-holder text-element " data-menu-name="PREVIEW_LINK" >See Project</span>
			</a>

<div class="element-placeholder" data-elementtype='LINK' style="display:none;"></div>
	
	</div>
</div>
										
											

<div class="element-placeholder" data-elementtype='SOCIAL' style="display:none;"></div>


										
									
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!-- LAYOUT SETTINGS -->
<div class="layout-settings" style="display:none;" data-type="multi"></div>
					
			</div>
		</div>
		
		
		
	
	
	
		<div  id="vbid-f797fc10-naytr2qe"  class="sub item-box  page-box style-41a6c633-k2kudjdw          " data-holder-type="page"" data-holder-type="page"  data-child-type="STYLE"  data-styleid="style-41a6c633-k2kudjdw" data-preview-styleid='style-41a6c633-k2kudjdw' data-preset-type-id="UNRESOLVED">
			
			<div class="page-wrapper item-wrapper ">
					
					<div class="item-content leaf multi_layout page content -container" data-self="vbid-f797fc10-naytr2qe" data-preview-style="style-41a6c633-k2kudjdw" data-style="style-8ec4c-ed91kjv1sl" data-orig-thumb-height="587" data-orig-thumb-width="732" data-vbid="vbid-f797fc10-naytr2qe" data-bgimg="https://lh3.googleusercontent.com/VmVnYsHRzHLQ1Cq1SWs7GTn7F9qTR7SJ2PH3mTpbozMZhCfcoFOhUDNQim9nbyhur2u9bSGigS6X6FWXY_Q">
<div  class="multi-container preview image-cover" >
	<div class="Picture item-preview">
		<div class="preview-image-holder">
			<div id="no-image" class="background-image-div preview-element image-source magic-circle-holder unfold-left load-high-res" data-menu-name="BACKGROUND_IMAGE" style="">
			</div>
			<div class="helper-div bottom-center" >
			<!-- <div class="benet" style="min-height:inherit;"></div> -->
			<div class="pic-side">
				<div class="vertical-aligner">
					<div id="vbid-f797fc10-69ggegie-holder"  class="preview-image-holder inner-pic-holder" data-menu-name="PREVIEW_INLINE_IMAGE_HOLDER">

	<div  id="vbid-f797fc10-69ggegie" class="inner-pic preview-element  magic-circle-holder  load-high-res " data-menu-name="PREVIEW_INLINE_IMAGE" style="background-image:url(static/bankaccounts.png);"  data-orig-width="732" data-orig-height="587" >
		<!-- VIDEO TEMPLATE -->
		

<div class="element-placeholder" data-elementtype='VIDEO' style="display:none;"></div>


		<!-- MAP TEMPLATE -->
		
<div class="element-placeholder" data-elementtype='MAP' style="display:none;"></div>

		<!-- RAW TEMPLATE -->
		
<div class="element-placeholder" data-elementtype='RAW' style="display:none;"></div>

	</div>
	
</div>
	

				</div>
			</div>	
				<div class="text-side shrinker-parent">
					<div class="vertical-aligner">
						<div class="item-details preview-content-wrapper  multi" style="position:relative;">
							<div class="draggable-div-holder"></div>
							<div class="preview-content-holder shrinker-content">
								
									
										<!--  BY NATIVE ORDER -->
										
											
<div class="element-placeholder" data-elementtype='ICON' style="display:none;"></div>

										
											
<br class="upper-line-break" />
<div class="preview-title-holder removable-parent order-handle">
	
	<h2 id="vbid-f797fc10-bhkajqy0" class="preview-element preview-title magic-circle-holder inner-page text-element quick-text-style-menu   allow-mobile-hide" data-menu-name="PREVIEW_TITLE" >Personal Current Account Information</h2>
	
</div>
<br class="lower-line-break" />

										
											

<div class="element-placeholder" data-elementtype='SUBTITLE' style="display:none;"></div>


										
											
<div class="element-placeholder" data-elementtype='DIVIDER' style="display:none;"></div>

										
											
<br class="upper-line-break" />
<div class="preview-body-holder removable-parent order-handle">
	
	<div id="vbid-f797fc10-hlgnltrk" class="preview-element preview-body magic-circle-holder text-element quick-text-style-menu   allow-mobile-hide" data-menu-name="PREVIEW_BODY">
		<p>Demo mobile/web application that aggregates personal current account balance, transaction history and account information from up to 18 UK banks/building societies. Use of this application is at your own risk. </p>
	</div>
	
</div>
<br class="lower-line-break" />

										
											
<div class="element-placeholder" data-elementtype='PRICE' style="display:none;"></div>

										
											<div class="preview-form order-handle">

<div class="element-placeholder" data-elementtype='FIELD' style="display:none;"></div>
</div>
										
											<div class="preview-item-links order-handle ">
	<div class="preview-links-wrapper">

	
		<a class="removable-parent" href="/deypay" data-link-type="EXISTING"   target="_self" >
	
		<span id="vbid-f797fc10-ufdied9w"  class="preview-element Link item-link magic-circle-holder text-element " data-menu-name="PREVIEW_LINK" >See Project</span>
			</a>

<div class="element-placeholder" data-elementtype='LINK' style="display:none;"></div>
	
	</div>
</div>
										
											

<div class="element-placeholder" data-elementtype='SOCIAL' style="display:none;"></div>


										
									
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!-- LAYOUT SETTINGS -->
<div class="layout-settings" style="display:none;" data-type="multi"></div>
					
			</div>
		</div>
		
		
		
	
	
	
		<div  id="vbid-f797fc10-naytr2qe"  class="sub item-box  page-box style-41a6c633-k2kudjdw          " data-holder-type="page"" data-holder-type="page"  data-child-type="STYLE"  data-styleid="style-41a6c633-k2kudjdw" data-preview-styleid='style-41a6c633-k2kudjdw' data-preset-type-id="UNRESOLVED">
			
			<div class="page-wrapper item-wrapper ">
					
					<div class="item-content leaf multi_layout page content -container" data-self="vbid-f797fc10-naytr2qe" data-preview-style="style-41a6c633-k2kudjdw" data-style="style-8ec4c-ed91kjv1sl" data-orig-thumb-height="587" data-orig-thumb-width="732" data-vbid="vbid-f797fc10-naytr2qe" data-bgimg="https://lh3.googleusercontent.com/VmVnYsHRzHLQ1Cq1SWs7GTn7F9qTR7SJ2PH3mTpbozMZhCfcoFOhUDNQim9nbyhur2u9bSGigS6X6FWXY_Q">
<div  class="multi-container preview image-cover" >
	<div class="Picture item-preview">
		<div class="preview-image-holder">
			<div id="no-image" class="background-image-div preview-element image-source magic-circle-holder unfold-left load-high-res" data-menu-name="BACKGROUND_IMAGE" style="">
			</div>
			<div class="helper-div bottom-center" >
			<!-- <div class="benet" style="min-height:inherit;"></div> -->
			<div class="pic-side">
				<div class="vertical-aligner">
					<div id="vbid-f797fc10-69ggegie-holder"  class="preview-image-holder inner-pic-holder" data-menu-name="PREVIEW_INLINE_IMAGE_HOLDER">

	<div  id="vbid-f797fc10-69ggegie" class="inner-pic preview-element  magic-circle-holder  load-high-res " data-menu-name="PREVIEW_INLINE_IMAGE" style="background-image:url(https://lh3.googleusercontent.com/VmVnYsHRzHLQ1Cq1SWs7GTn7F9qTR7SJ2PH3mTpbozMZhCfcoFOhUDNQim9nbyhur2u9bSGigS6X6FWXY_Q=s300);"  data-orig-width="732" data-orig-height="587" >
		<!-- VIDEO TEMPLATE -->
		

<div class="element-placeholder" data-elementtype='VIDEO' style="display:none;"></div>


		<!-- MAP TEMPLATE -->
		
<div class="element-placeholder" data-elementtype='MAP' style="display:none;"></div>

		<!-- RAW TEMPLATE -->
		
<div class="element-placeholder" data-elementtype='RAW' style="display:none;"></div>

	</div>
	
</div>
	

				</div>
			</div>	
				<div class="text-side shrinker-parent">
					<div class="vertical-aligner">
						<div class="item-details preview-content-wrapper  multi" style="position:relative;">
							<div class="draggable-div-holder"></div>
							<div class="preview-content-holder shrinker-content">
								
									
										<!--  BY NATIVE ORDER -->
										
											
<div class="element-placeholder" data-elementtype='ICON' style="display:none;"></div>

										
											
<br class="upper-line-break" />
<div class="preview-title-holder removable-parent order-handle">
	
	<h2 id="vbid-f797fc10-bhkajqy0" class="preview-element preview-title magic-circle-holder inner-page text-element quick-text-style-menu   allow-mobile-hide" data-menu-name="PREVIEW_TITLE" >Alexa Skills</h2>
	
</div>
<br class="lower-line-break" />

										
											

<div class="element-placeholder" data-elementtype='SUBTITLE' style="display:none;"></div>


										
											
<div class="element-placeholder" data-elementtype='DIVIDER' style="display:none;"></div>

										
											
<br class="upper-line-break" />
<div class="preview-body-holder removable-parent order-handle">
	
	<div id="vbid-f797fc10-hlgnltrk" class="preview-element preview-body magic-circle-holder text-element quick-text-style-menu   allow-mobile-hide" data-menu-name="PREVIEW_BODY">
		<p>Video demoing our ability to connect the Amazon Echo to 2 bank accounts and obtain balance (real &amp; predicted) information. We can also provide transaction history and payment features.</p>
	</div>
	
</div>
<br class="lower-line-break" />

										
											
<div class="element-placeholder" data-elementtype='PRICE' style="display:none;"></div>

										
											<div class="preview-form order-handle">

<div class="element-placeholder" data-elementtype='FIELD' style="display:none;"></div>
</div>
										
											<div class="preview-item-links order-handle ">
	<div class="preview-links-wrapper">

	
		<a class="removable-parent" href="/alexa_skills" data-link-type="EXISTING"   target="_self" >
	
		<span id="vbid-f797fc10-ufdied9w"  class="preview-element Link item-link magic-circle-holder text-element " data-menu-name="PREVIEW_LINK" >See Project</span>
			</a>

<div class="element-placeholder" data-elementtype='LINK' style="display:none;"></div>
	
	</div>
</div>
										
											

<div class="element-placeholder" data-elementtype='SOCIAL' style="display:none;"></div>


										
									
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!-- LAYOUT SETTINGS -->
<div class="layout-settings" style="display:none;" data-type="multi"></div>
					
			</div>
		</div>
		
		
		
	
	
	
		<div  id="vbid-41a6c633-ve1mdof8"  class="sub item-box  page-box style-41a6c633-k2kudjdw          " data-holder-type="page"" data-holder-type="page"  data-child-type="STYLE"  data-styleid="style-41a6c633-k2kudjdw" data-preview-styleid='style-41a6c633-k2kudjdw' data-preset-type-id="UNRESOLVED">
			
			<div class="page-wrapper item-wrapper ">
					
					<div class="item-content leaf multi_layout page content -container" data-self="vbid-41a6c633-ve1mdof8" data-preview-style="style-41a6c633-k2kudjdw" data-style="style-8ec4c-ed91kjv1sl" data-orig-thumb-height="1500" data-orig-thumb-width="1500" data-vbid="vbid-41a6c633-ve1mdof8" data-bgimg="https://lh3.googleusercontent.com/ibGv0p227jBNQXquXJ5Jdnlh2IyixX8HM3dXcmM2hDX7lV2Dk4YWfHAnlFMN0v1lsMGB5_mBSbjVLm_tZ7o">
<div  class="multi-container preview image-cover" >
	<div class="Picture item-preview">
		<div class="preview-image-holder">
			<div id="no-image" class="background-image-div preview-element image-source magic-circle-holder unfold-left load-high-res" data-menu-name="BACKGROUND_IMAGE" style="">
			</div>
			<div class="helper-div bottom-center" >
			<!-- <div class="benet" style="min-height:inherit;"></div> -->
			<div class="pic-side">
				<div class="vertical-aligner">
					<div id="vbid-41a6c633-ulaohltb-holder"  class="preview-image-holder inner-pic-holder" data-menu-name="PREVIEW_INLINE_IMAGE_HOLDER">

	<div  id="vbid-41a6c633-ulaohltb" class="inner-pic preview-element  magic-circle-holder  load-high-res " data-menu-name="PREVIEW_INLINE_IMAGE" style="background-image:url(https://lh3.googleusercontent.com/ibGv0p227jBNQXquXJ5Jdnlh2IyixX8HM3dXcmM2hDX7lV2Dk4YWfHAnlFMN0v1lsMGB5_mBSbjVLm_tZ7o=s300);"  data-orig-width="1500" data-orig-height="1500" >
		<!-- VIDEO TEMPLATE -->
		

<div class="element-placeholder" data-elementtype='VIDEO' style="display:none;"></div>


		<!-- MAP TEMPLATE -->
		
<div class="element-placeholder" data-elementtype='MAP' style="display:none;"></div>

		<!-- RAW TEMPLATE -->
		
<div class="element-placeholder" data-elementtype='RAW' style="display:none;"></div>

	</div>
	
</div>
	

				</div>
			</div>	
				<div class="text-side shrinker-parent">
					<div class="vertical-aligner">
						<div class="item-details preview-content-wrapper  multi" style="position:relative;">
							<div class="draggable-div-holder"></div>
							<div class="preview-content-holder shrinker-content">
								
									
										<!--  BY NATIVE ORDER -->
										
											
<div class="element-placeholder" data-elementtype='ICON' style="display:none;"></div>

										
											
<br class="upper-line-break" />
<div class="preview-title-holder removable-parent order-handle">
	
	<h2 id="vbid-41a6c633-txgxd4dd" class="preview-element preview-title magic-circle-holder inner-page text-element quick-text-style-menu   allow-mobile-hide" data-menu-name="PREVIEW_TITLE" >Companies House Reporting</h2>
	
</div>
<br class="lower-line-break" />

										
											

<div class="element-placeholder" data-elementtype='SUBTITLE' style="display:none;"></div>


										
											
<div class="element-placeholder" data-elementtype='DIVIDER' style="display:none;"></div>

										
											
<br class="upper-line-break" />
<div class="preview-body-holder removable-parent order-handle">
	
	<div id="vbid-41a6c633-dl49dqcv" class="preview-element preview-body magic-circle-holder text-element quick-text-style-menu   allow-mobile-hide" data-menu-name="PREVIEW_BODY">
		<p>Contact Deytaltyics to get access to our API which will provide information about incorporated companies within minutes of them being added to the Companies House database.</p>
	</div>
	
</div>
<br class="lower-line-break" />

										
											
<div class="element-placeholder" data-elementtype='PRICE' style="display:none;"></div>

										
											<div class="preview-form order-handle">

<div class="element-placeholder" data-elementtype='FIELD' style="display:none;"></div>
</div>
										
											<div class="preview-item-links order-handle ">
	<div class="preview-links-wrapper">

	
		<a class="removable-parent" href="/companies_house_reporting" data-link-type="EXISTING"   target="_self" >
	
		<span id="vbid-41a6c633-hzq7dbwi"  class="preview-element Link item-link magic-circle-holder text-element " data-menu-name="PREVIEW_LINK" >See Project</span>
			</a>

<div class="element-placeholder" data-elementtype='LINK' style="display:none;"></div>
	
	</div>
</div>
										
											

<div class="element-placeholder" data-elementtype='SOCIAL' style="display:none;"></div>


										
									
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!-- LAYOUT SETTINGS -->
<div class="layout-settings" style="display:none;" data-type="multi"></div>
					
			</div>
		</div>





			</div>
		</div>
	</div>
</div>

			</div>
		</div>
   <!-- PROJECTS END -->
{% endblock %}

</html>