{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
DeyPay
{% endblock %}

{% block content %}
<div class="container">
<p>
	<img src="{{ url_for('static', filename='deytalytics-smile-logo.png') }}" height='150'>
	<b><h1>Welcome to Deytalytics Account Information App</h1></b><hr>
</p>
<b>YOUR SECURITY IS EXTREMELY IMPORTANT TO US</b>
<br>Remember:-
<ol>
	<li>Deytalytics will not store any of your bank login information</li>
	<li>You have full control over what account information that Deytalytics can retrieve from your bank</li>
	<li>Our technical partners <a href="http://www.truelayer.com">Truelayer</a> are FCA registered <a href="https://register.fca.org.uk/ShPo_FirmDetailsPage?id=001b0000042fMZyAAM">793171</a></li>
</ol>
<hr>
<b>Hi {{session['username']}}. </b>
<b>
{% if connected_banks %}
	You are connected to the following banks:-</b>
	<font color='red'>
	{% for bank in connected_banks %}
		<br>{{ bank }}
	{% endfor %}
	</font>
{% else %}
	You are not connected to any banks</b>
{% endif %}
<br><br>

<a href='/truelayer/accounts'><img src='{{url_for("static", filename="bankaccount-icon.png") }}' title='Your bank accounts' height='60'></a>
<a href='/truelayer'><img src='{{url_for("static", filename="Connect-icon.png") }}' title='Connect to a bank' height='60'></a>
        {% if connected_banks %} 
<a href='/truelayer/hangup'><img src='{{url_for("static", filename="disconnect-icon.png") }}' title='Disconnect from bank(s)' height='60'></a>
        {% endif %}
<a href='/deypay/logout'><img src='{{url_for("static", filename="logout-icon.jpg") }}' title='Logout' height='60'></a>
</div>
{% endblock %}
