<html>
<body> 
阎的伦敦之行--2018年7月

<H1>Getting Around(游览)</H1>
<a href="https://translate.google.co.uk/translate?hl=en&sl=en&tl=zh-CN&u=tfl.gov.uk/plan-a-journey/">Plan your tube journey (计划你的管旅程)</a>
<br><a href="https://translate.google.co.uk/translate?hl=en&sl=en&tl=zh-CN&u=www.google.co.uk/maps/place/Milton+Rd,+London+SW19+8SF/@51.4224441,-0.1883456,17z/data=!3m1!4b1!4m5!3m4!1s0x487606028e70e447:0x8df76f1defbd9ace!8m2!3d51.42245!4d-0.1863729">Find your way home (找到回家的路)</a>

<H1>Weather (天气)</H1>
<a href="https://translate.google.co.uk/translate?hl=en&sl=en&tl=zh-CN&u=www.bbc.co.uk/weather/0/2633866">Wimbledon Weather (温布尔登天气)</a>

<H1>Eating Out (外出就餐)</H1>
<H2>Restaurants (餐馆)</H2>
<a href="https://translate.google.co.uk/translate?hl=en&sl=en&tl=zh-CN&u=www.thewhiteonion.co.uk/">The White Onion (白洋葱)</a>
<br><a href="https://translate.google.co.uk/translate?hl=en&sl=en&tl=zh-CN&u=www.alfornowimbledon.com/">Al Forno Bar & Italian Restaurant Wimbledon (Al Forno酒吧和意大利餐厅温布尔登)</a>
<br><a href="https://translate.google.co.uk/translate?hl=en&sl=en&tl=zh-CN&u=www.lanonna.co.uk/">La Nonna Italian Restaurant In Wimbledon | Home (温布尔顿La Nonna意大利餐厅| 家)</a>

<H2>Pubs (酒馆)</H2>
<a href="https://translate.google.co.uk/translate?hl=en&sl=en&tl=zh-CN&u=www.dogandfoxwimbledon.co.uk/">Dog & Fox | Young's Hotel in Wimbledon near Wimbledon Common (狗与狐狸| 温布尔登公园附近的温布尔登Young's酒店)</a>
<br><a href="https://translate.google.co.uk/translate?hl=en&sl=en&tl=zh-CN&u=translate.google.com/translate?hl=en&sl=en&tl=zh-CN&u=https%3A%2F%2Fwww.the-albany.co.uk%2F%3Futm_source%3Dgoogle%26utm_medium%3Dorganic%26utm_campaign%3Dgmb">The Albany, Thames Ditton (奥尔巴尼，泰晤士河迪顿)</a>
<br><a href="https://translate.google.co.uk/translate?hl=en&sl=en&tl=zh-CN&u=www.greeneking-pubs.co.uk/pubs/greater-london/swan/?utm_source=g_places&utm_medium=locations&utm_campaign=">The Swan, Wimbledon Village (天鹅，温布尔登村)</a>
<H1>Things to do (事情要做)</H1>
<H2>Places (地方)</H2>
<a href="https://translate.google.co.uk/translate?hl=en&sl=en&tl=zh-CN&u=www.wwt.org.uk/wetland-centres/london/">Wetland Centre (湿地中心)</a>
<br><a href="https://translate.google.co.uk/translate?hl=en&sl=en&tl=zh-CN&u=www.rhs.org.uk/gardens/wisley">Wisley Gardens</a>
<br><a href="https://translate.google.co.uk/translate?hl=en&sl=en&tl=zh-CN&u=www.kew.org/">Kew | Welcome (Kew | 欢迎)</a>
<br><a href="https://translate.google.co.uk/translate?hl=en&sl=en&tl=zh-CN&u=www.royalparks.org.uk/parks/hyde-park">Hyde Park (海德公园)</a>
<br><a href="https://translate.google.co.uk/translate?hl=en&sl=en&tl=zh-CN&u=www.nhm.ac.uk/">Home | Natural History Museum (主页| 自然历史博物馆)</a>
<br><a href="https://translate.google.co.uk/translate?hl=en&sl=en&tl=zh-CN&u=www.britishmuseum.org/">British Museum - Welcome to the British Museum (大英博物馆 - 欢迎来到大英博物馆)</a>
<br><a href="https://translate.google.co.uk/translate?hl=en&sl=en&tl=zh-CN&u=canarywharf.com/">Home - Canary Wharf (首页 - 金丝雀码头)</a>
<br><a href="https://translate.google.co.uk/translate?hl=en&sl=en&tl=zh-CN&u=www.skdocks.co.uk/">St. Katharine Docks London (圣凯瑟琳码头伦敦)</a>

<H2>Events (活动)</H2>
<a href="https://translate.google.co.uk/translate?hl=en&sl=en&tl=zh-CN&u=lovewimbledon.org/whatson/">What's on in Wimbledon - Love Wimbledon (温布尔登网球公开赛 - 爱温网)</a>
<br><a href="https://translate.google.co.uk/translate?hl=en&sl=en&tl=zh-CN&u=www.picniq.co.uk/surrey/">Family Days Out in Surrey Near Me | 96 Local Attractions (萨里的家庭日子在我附近| 96个当地景点)</a>
<br><a href="https://translate.google.co.uk/translate?hl=en&sl=en&tl=zh-CN&u=www.timeout.com/london">Time Out London - Events, Attractions & What's on in London (Time Out伦敦 - 活动，景点和伦敦有什么)</a>
<br><a href="https://translate.google.co.uk/translate?hl=en&sl=en&tl=zh-CN&u=www.visitlondon.com/things-to-do/whats-on">What's on in London - Things to Do - visitlondon.com (伦敦是怎么回事 - 要做的事 - visitlondon.com)</a>
<br><a href="https://translate.google.co.uk/translate?hl=en&sl=en&tl=zh-CN&u=londonist.com/">Londonist - Things to see and do in London (伦敦主义 - 在伦敦看到和做的事)</a>

</body> 
</html>